;==============================================================================
; ari.conf — gerado em {{generatedAt}}
;==============================================================================

[general]
enabled=yes
pretty=yes
allowed_origins=https://erp.pontualtech.work

[erp]
type=user
read_only=no
password={{ariPassword}}
password_format=plain